{% extends 'base.html.twig' %}

{% block body %}

 <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>les Activites de l'Evenement</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
             {#<img src="{{ asset('images/téléchargement (1).jpg')}}" alt="Course One"> #}
             {#<video width="250" height="200" controls autoplay >
      <source src="{{'vidéos/Zaghouan Zipline Adventures.mp4'}}" type=video/mp4>
    </video>#} 
     
      
 
            <div class="down-content">
                <h4>Tyrolienne : Nautique</h4>
                 <video  width="260" height="130" controls autoplay src="{{ asset('vidéos/Zaghouan Zipline Adventures.mp4')  }}" type= video/mp4>
       </video>
                <div class="info">
                  <div class="row">
                    <div class="col-10">
                    </div>
                    <div class="col-4">
                       <span>60 D </span>
                    <div class="align-self-center">
                    {# button partage d'une activitée #}
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fyoutube.com/watch?v=WYkhA6QU-00%2Fplugins%2F&layout=button&size=small&width=81&height=20&appId" width="81" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="down-content">
                <h4>Quad: Sportif</h4>
                 <video  width="260" height="130" controls autoplay src="{{ asset('vidéos/Tour de Quad à Ksar Ghilane en Tunisie qualité amélioré.mp4')  }}" type= video/mp4>
       </video>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-4">
                       <span>70D</span>
                    </div>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fyoutube.com/watch?v=y0VbEqiRgos&t=100s%2Fplugins%2F&layout=button&size=small&width=81&height=20&appId" width="81" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="down-content">
                <h4>Yoga: Sportif</h4>
               <video  width="260" height="130" controls autoplay src="{{ asset('vidéos/Camping & Yoga au bord de la plage de Cap Serrat.mp4')  }}" type= video/mp4>
       </video> 
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-4">
                       <span>55D</span>
                    </div>
                     <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fyoutube.com/A95SUJPtVsY %2F&layout=button&size=small&width=81&height=20&appId" width="81" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="down-content">
                <h4>Kayak:Loisir</h4>
                   <video  width="260" height="130" controls autoplay src="{{ asset('vidéos/Kayak camping - Fjord du Saguenay. Août 2017.mp4')  }}" type= video/mp4>
                      </video> 
                <div class="info">
                  <div class="row">
                    <div class="col-8">   
                    </div>
                    <div class="col-4">
                       <span>45D</span>
                    </div>
                     <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fyoutube.com/watch?v=hAoazJclRIk&t=22s%2Fplugins%2F&layout=button&size=small&width=81&height=20&appId" width="81" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="down-content">
                <h4>Vélo:Sportif</h4>
                 <video  width="260" height="130" controls autoplay src="{{ asset('vidéos/ِالجزء5من سلسلة تبعني.... خيمنا في غابة( اللوكة )بنزرت  _ cyclocamping in tunisia.mp4')  }}" type= video/mp4>
                      </video>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-4">
                       <span>45D</span>
                    </div>
                     <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fyoutube.com/watch?v=wNbmsOHyS4Y&t=288s%2Fplugins%2F&layout=button&size=small&width=81&height=20&appId" width="81" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </section>
  
   
 <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="section-heading">
            <h2>les Evenements de camping</h2>
          </div>
         
     

        </div>
      <div class="col-lg-4">
          <div class="categories">
            <h4>voir les liste des Evenements</h4>
            <ul>
              <li><a href="#">les Evènements personnalisées</a></li>
              <li><a href="#">Les Evenements Programmee</a></li>
            </ul>
            <div class="main-button-red">
              <a href="meetings.html">tous dans la liste des Evenements</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>200.0 D</span>
                  </div>
                  <a href="meeting-details.html"><img src="{{asset('images/04d8515cc26894534ff39ad440bc017c.jpeg') }}" alt="Glamping"></a>
                </div>


                
                <div class="down-content">
                  <div class="date">
                    <h6>Avril <span>22</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Glamping</h4></a>
                  <p>CampGlamp vous gâte toujours avec ses nouveautés on vous propose cette fois un nouveau style de camping le GLAMPING 😉<br>Nous vous invitons alors à profiter du confort des Tree House ,des Bungalows à Outdoors Beni Mtir.</p>
                </div>

              </div>
            </div>

            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>45.0 D</span>
                  </div>
                 {#} <a href="meeting-details.html"><img src="{{asset('images/bargou9-800x500.jpg')}}" alt="Randonnee"></a>#}
                  <a href="meeting-details.html"><img src="{{asset('images/bargou9-800x500.jpg')}}" alt="Randonnee"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Mars <span>24</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Randonne</h4></a>
                  <p>Randonne Beja<br>Bonne condition physique nécessaire,Excellente maîtrise, chaussures résistantes et expérience alpine exigées.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>150.0 D</span>
                  </div>
                  <a href="meeting-details.html"><img src="{{asset('images/c2acbf5afee87b8fe18ea81b819faa91.jpeg')}}" alt="Camping"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>May <span>24</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Camping</h4></a>
                  <p>Camping Ain Drahem <br>CampGlamp vous offre la chance de visiter cette ville, admirer sa verdure et vivre une experience de camping exceptionnelle dans un centre aménagé et bien sécurisé</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>50.0 D</span>
                  </div>
                  <a href="meeting-details.html"><img src="{{asset('images/téléchargement.jpg')}}" alt="Student Training"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Février <span>2</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Randonne Korbos</h4></a>
                  <p>Korbous est une station thermale tunisienne située dans la région du cap Bon<br>il faut rejoindre une ancienne piste qui se trouve à flanc de montagne, et qui rejoindra Korbous.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3>Revisiter notre site </h3>
                <p>Profitez de nous Evenements et nous offre spéciaux</p>
                <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact"> N' héziter pas de  nous Contactez  </a></div>
              </div>
              </div>
            </div>
            <div class="col-lg-12">
             
              </div>
              </div>
            </div>
          </div>
        </div>
       
           
           
            
        </div>
        </div>
      </div>
    </div>
  </section>
   
   

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Notre Liste d'Evenements</h2>
          </div>
        </div>
   
 {#}  <input type="text" id="search" class="form-control" placeholder="Search">
   <tbody id="all">
    {% for event in e %}
    <p >{{ event.nom}}</p>
    <p >{{ event.prix}}</p>
     <img class="rx-lazy" src="{{ asset('/public/images/') ~event.image}}" style="width: 150px; height: 150px;" data-src="assets/img/serv-1.svg" alt="img">
{% endfor %}
 <br><br><br><br>
            </div>
        </section>
     <script src="{{ asset('assets/js/jquery.js') }}"></script>
     <script
             src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}">
     </script>
     <script>
         $( document ).ready(function() {
             var currentRequest = null;
             $("#search").keyup(function(e){
                 /* La variable value va prendre la valeur insérer dans le champ de texte
                 afin d’effectuer la recherche */
                 var value = $(this).val();
                 if(currentRequest != null) {
                     currentRequest.abort();
                 }
                 /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                 « search » pour faire la recherche */
                 currentRequest = $.ajax({
                     url : "{{ path('ajaxevent') }}",
                     type : 'GET',
                     data: {
                         'searchValue' : value
                     },
                     success : function(retour)
                     {
                         $('#all').html(retour);
                     },
                 });
                 return false;
             });
         });
     </script>#}

      {#} <input type="text" id="search" class="form-control" placeholder="Search">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var searchRequest = null;
            $("#search").keyup(function () {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('ajax_search') }}",
                        data: {
                            'q': value
                        },
                        dataType: "text",
                        success: function (msg) {
                            //we need to check if the value is the same
                            if (value === $(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function (key, arr) {
                                    $.each(arr, function (id, value) {
                                        if (key === 'event') {
                                            if (id !== 'error') {
                                                console.log(value[1]);
                                                entitySelector.append('<a href="/public/images' + id + '"><li><b>' + value[0] + '</b>' + '</li></a>');
                                            } else {
                                                entitySelector.append('<li class="errorLi">' + value + '</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>#}

        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img src="{{ asset('images/téléchargement (1).jpg')}}" alt="Course One">
              <div class="down-content">
                <h4>Tree House à Beni Imtir</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>200 D </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{{asset('images/glampingtouzeur.jpg')}}" alt="Course Two">
              <div class="down-content">
                <h4>Glamping Tozeur</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>280D</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{{asset('images/maxresdefault.jpg')}}" alt="">
              <div class="down-content">
                <h4>Randonnee Beja</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>35D</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{{asset('images/annexe-camping-2022.jpg')}}" alt="">
              <div class="down-content">
                <h4>Campig Ain Drahem</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>120D</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{{asset('images/téléchargement.jpg')}}" alt="">
              <div class="down-content">
                <h4>Randonne Korbos</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>35D</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{{asset('images/campingtunisia.jpg')}}" alt="">
              <div class="down-content">
                <h4>Camping Binzaret</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>130D</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{{asset('images/téléchargement (2).jpg')}}" alt="">
              <div class="down-content">
                <h4>Randonne Ain Soltan</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>50D</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>Des Nouvelles valeurs pour les Evenemnts</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">94</div>
                    <div class="count-title">La MAjorités des Evenements Apprécis</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">126</div>
                    <div class="count-title">Total des participants</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">2345</div>
                    <div class="count-title">Total des Evenements</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">32</div>
                    <div class="count-title">Total des Evenements personnalisées</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="{{asset('front/images/play-icon.png')}}" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

    </div>
  
    {% endblock %}
