{% extends 'Adminbase.html.twig' %}

{% block body %}

<div class="col-lg-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
      <a href="{{ path('addEvent') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 90px;"></i></a>
				<h4 class="card-title">
					Listes des évènements</h4>
                    {# button search #}
					<form class="w-search">
                                            <div class="sidebar-search">
                                                <div class="input-group custom-search-form">
                                                    <input type="text" id="search" class="form-control" placeholder="Search">
                                                </div>
                                                <!-- /input-group -->
                                            </div>
                                            <ul class="nav" id="side-menu">
                                                <li>
                                                    <a href="#"><span class="fa arrow"></span></a>
                                                    <ul style="background-color: #0b0b0b" class="nav " id="entitiesNav">
                                                    </ul>
                                                </li>
                                            </ul>
                                        </form>
				<div class="table-responsive">
		   	<table class="table table-striped">
       <div style:"display:flex;align_items:centre;)justify_content:center">
						<thead>
							<tr>
								<th>Non</th>
								<th>Description	</th>
								<th>Type	</th>
								<th>
									Lieu
								</th>
								<th>
									Date
								</th>
								<th>
									Prix
								</th>
                	<th>
								   Status
								</th>
                	{#<th>
									Image
								</th>#}
                <th> Modification</th>
               <th>Suppression</th>
							</tr>
						</thead>
						<tbody id="all">
					

        {% include "event/eventajax.html.twig" %}

						{{ knp_pagination_render(e) }}
						</tbody>
						<tbody id="search"></tbody>
					</table>


				</div>
			</div>
		</div>

		<script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script
            src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}">
    </script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte
                afin d’effectuer la recherche */
                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                « search » pour faire la recherche */
                currentRequest = $.ajax({
                    url : "{{ path('ajaxEvent') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },
                    success : function(retour)
                    {
                        $('#all').html(retour);
                    },
                });
                return false;
            });
        });
    </script>
	

	
{% endblock %}